FRONIUS_BASE_URL=http://192.168.70.79
FRONIUS_USERNAME=
FRONIUS_PASSWORD=
HEATPUMP_HISTORY_DB_PATH=/app/data/heatpump-history.db
LUXTRONIC_HOST=192.168.70.47
LUXTRONIC_PORT=8214
LUXTRONIC_PASSWORD=9999
SHELLY_HT_DEVICES=192.168.70.34,192.168.70.40,192.168.70.36
SHELLY_GEN1_DEVICES=192.168.70.97
PORT=3001