# Fronius Symo API (for live realtime values)
FRONIUS_BASE_URL=
FRONIUS_USERNAME=
FRONIUS_PASSWORD=

# Heatpump live realtime
LUXTRONIC_HOST=
LUXTRONIC_PORT=
LUXTRONIC_PASSWORD=
HEATPUMP_HISTORY_DB_PATH=/app/data/heatpump-history.db

# Shelly devices, Network API and Cloud API
SHELLY_HT_DEVICES=
SHELLY_GEN1_DEVICES=
SHELLY_CLOUD_API_URL=
SHELLY_CLOUD_AUTH_TOKEN=
PORT=